{{#if addNewAnnouncement}}
  <h1>New Rental</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="advertiser">Advertiser</label>
        {{input value=advertiser id="advertiser"}}
      </div>

      <div class="form-group">
        <label for="announcement">Announcement</label>
        {{input value=announcement id="announcement"}}
      </div>

      <button {{action 'save1'}}>Save</button>
    </form>
  </div>
 {{else}}
    <button {{action 'announcementFormShow'}}>New Announcement</button>
{{/if}}
